.five-piece-drumset {
  width: 150px;
}
.mic-stand-boom {
  width: 50px;
}
.monitor {
  width: 50px;
}
.di-box-mono {
  width: 20px;
}
.power-strip-4 {
  width: 40px;
}
.keyboard-single {
  width: 100px;
}
.bass-amp-large {
  width: 60px;
}
.guitar-amp-stack {
  width: 60px;
}
