.five-piece-drumset {
  width: 144px;
}

.guitar-amp-stack {
  width: 72px;
}

.monitor {
  width: 54px;
}

.di-box-mono {
  width: 30px;
}

.power-strip-4 {
  width: 42px;
}

.mic-stand-boom {
  width: 54px;
}

.keyboard-single {
  width: 102px;
}

.bass-amp-large {
  width: 60px;
}
