.five-piece-drumset {
  width: 144px;
}

.guitar-amp-stack {
  width: 72px;
}

.monitor {
  width: 54px;
}

.di-box-mono {
  width: 30px;
}

.power-strip-4 {
  width: 42px;
}

.mic-stand-boom {
  width: 54px;
}

.keyboard-single {
  width: 102px;
}

.bass-amp-large {
  width: 60px;
}

.standup-bass {
  width: 54px;
}

.cdj {
  width: 36px;
}

/*  unmodified */
.bongo-drums {
  width: 54px
}

.clarinet {
  width: 72px;
}

.conga-drum {
  width: 54px;
}

.congas {
  width: 60px;
}

.guitar-amp-combo {
  width: 54px;
}
.IEM-transmitter {
  width: 54px;
}
.mic-stand-straight {
  width: 54px;
}

.saxophone {
  width: 54px;
}
.trumpet {
  width: 54px;
}
.violin {
  width: 54px;
}
