.five-piece-drumset {
  width: 144px;
}

.guitar-amp-stack {
  width: 72px;
}

.guitar-amp-combo {
  width: 54px;
}

.monitor {
  width: 54px;
}

.di-box-mono {
  width: 30px;
}

.power-strip-4 {
  width: 42px;
}

.mic-stand-boom {
  width: 54px;
}

.mic-stand-straight {
  width: 36px;
}

.keyboard-single {
  width: 102px;
}

.bass-amp-large {
  width: 60px;
}

.standup-bass {
  width: 54px;
}

.cdj {
  width: 36px;
}

.bongos {
  width: 42px;
}

.clarinet {
  width: 72px;
}

.single-conga {
  width: 60px;
}

.congas {
  width: 60px;
}

.IEM-transmitter {
  width: 72px;
}

.trumpet {
  width: 24px;
}

.saxophone {
  width: 42px;
}

.violin {
  width: 48px;
}
